
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

section{
    height: 900px;
    display: flex;
    justify-content:center;
    align-items:center;

}

section div{
    width: 600px;
    background-color:rgb(235, 232, 232);
    padding: 30px 30px;
}