*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
background-color: #93d9e9;
display: flex;
align-items: center;
justify-content: center;
height: 100vh;

}

.caja1{
width: 400px;
height: 550px;
background-color: white;
border-radius: 5px;
margin-right: 20px;


}

.caja1 h2{
display: flex;   
background-color: salmon;
border-radius: 5px;
height: 100px;
width: 400px;
align-items: center;
justify-content: center;


}

.caja1 P{
text-decoration: underline;
margin-top: 50px;
margin-left: 100px;
}

.caja1 button{
border-radius: 25px;
margin-top: 50px;
margin-left: 100px
}